body {
    background-color:aliceblue;
    color:midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align:center;
}

hr {
    border:2px double midnightblue;
}

nav li {
    list-style: none;
    display:inline-block;
}

#reviews {
    display:block;
    text-align:center;
    margin:5px;
}

.review-box {
    display:inline-block;
    background-color:rgba(148, 255, 235, 0.8);
    width:30vw;
    height:300px;
    padding:10px;
    border:3px dotted midnightblue;
    border-radius:20px;
}

faq h2 {
    display:block;
    border-radius:20px;
    border:2px solid midnightblue;
    background-color:antiquewhite;
    padding:10px;
}

.restaurant {
    border:3px solid midnightblue;
    border-radius:20px;
    background-color:beige;
    width:30vw;
    display: inline-block;
    height:300px;
    padding:20px;
}

footer {
    text-align: center;
}